<link rel="import" href="../../bower_components/polymer/polymer.html">
<script src="../../bower_components/socket.io-client/socket.io.js"></script>
<script src="../../bower_components/moment/moment.js"></script>

<dom-module id="clock-admin-app">
    <template>
        <h1>Clock Admin App</h1>
        <div>Date: <input type="date" value="{{date::input}}"></div>
        <div>Time: <input type="text" value="{{time::input}}"></div>
        <button on-tap="addAlarm">Add Alarm</button>

        <template is="dom-repeat" items="{{alarms}}">
            <ul>
                <li><span>{{item.formattedDate}}</span> at <span>{{item.formattedTime}}</span></li>
            </ul>
        </template>
    </template>
</dom-module>

<script>

    var socket;

    Polymer({
        is: 'clock-admin-app',

        properties: {
            alarms: {
                type: Array,
                value: []
            }
        },

        ready: function () {
            var self = this;

            socket = io('http://localhost:8080');
            socket.on('alarm', function (data) {
                var date = moment(data.date);

                self.unshift('alarms', {
                    date: date,
                    formattedDate: date.format('MM-DD-YYYY'),
                    formattedTime: date.format('hh:mm a')
                });
            });

            this.checkAlarms();
        },

        /*
         * if there are alarms, check to see if they have passed. if they have,
         * remove them from the alarms array
         */
        checkAlarms: function () {
            var self = this;

            setInterval(function () {
                if (self.alarms.length) {
                    var now = moment();

                    self.alarms.forEach(function (alarm, index) {
                        if (alarm.date.diff(now) <= 0) {
                            self.removeAlarm(index);
                        }
                    });
                }
            }, 1000);
        },

        addAlarm: function () {
            socket.emit('createAlarm', {
                date: this.date + ' ' + this.time
            });
        },

        removeAlarm: function (index) {
            this.splice('alarms', index);
        }
    });

</script>
